body { font-family: 'Poppins', sans-serif; background-color: #E0F2F1; }

    /* Scrollbar invisível para os carousels */
    .no-scrollbar::-webkit-scrollbar { display: none; }
    .no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
    .arrow-rotated { transform: rotate(180deg); }